.word_display_class {
    margin-bottom: 20px;
    margin: 10px;
}

.display_word_class {
    margin: 20px;
    padding: 10px
}
.keyboard_class {
    margin-top: 20px
}
.guess_word_span_class {
    margin: 20px;
}