.container {
  padding: 20px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}


.historySection {
  flex: 1;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chartSection {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
